<h1>Create a New Character</h1>

<%= form_for(@dragonborn) do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :race %>
    <%= f.text_field :race %>

    <%= f.label :gender %>
    <%= f.text_field :gender %>

    <%= f.submit 'Begin!' %>
  </fieldset>
<% end %>
