<h1><%= @selected_dragonborn.name %>'s Quests</h1>

<ol>
  <% @quests.each do |quest| %>
    <li><%= quest.task %> (Given by: <%= quest.quest_giver %>)</li>
      Cities involved:
      <% quest.cities.each do |city| %>
        <p><%= link_to city.name, city_path(city) %></p>
      <% end %>
    <%= button_to 'Remove Quest', dragonborn_quest_path(@selected_dragonborn, quest), method: :delete %>
  <% end %>
</ol>

<h2>Add a new Quest:</h2>

<%= form_for [@selected_dragonborn, @quest] do |f| %>
  <%= f.label :quest_giver, 'Given By' %>
  <%= f.text_field :quest_giver %>

  <%= f.label :task %>
  <%= f.text_field :task %>

  <%= f.submit "Accept!" %>
<% end %>
